.map {
  height: 100%;
  width: 100%;
}

.map g {
  height: 100%;
  width: 100%;
}

.map path {
  fill: #286090;
  stroke: #286090;
  height: 100%;
  width: 100%;
}

.selected path {
  fill: #ffdf12;
  stroke: #ffdf12;
  height: 100%;
  width: 100%;
}

.disabled path {
  fill: #808080;
  stroke: #808080;
  height: 100%;
  width: 100%;
}
