.map{
    height: 100%;
    width: 100%;
}

.map g{
    height: 100%;
    width: 100%;
}

.map path {
    fill: #286090;
    stroke: #286090;
    height: 100%;
    width: 100%;
}

.selected path{
    fill: #f33;
    stroke: #f33;
    height: 100%;
    width: 100%;
}